<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title layout:fragment="title">Inicio</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Bienvenido a Biblioteca Virtual "Dédalo"</h1>
    <p>Gestiona tus libros de forma sencilla y rápida con nuestra aplicación.</p>
    <p>Utiliza el menú de navegación para acceder a las diferentes funcionalidades.</p>
</div>
</body>
</html>
